<%= javascript_include_tag "https://api.giphy.com/v1/gifs/random?&api_key=#{ENV['GIPHY_KEY']}" %>
<div class='booyah-box col-10 offset-1'>
<h1>Hello <%= @profile.first_name %>, It's a beautiful day to burn some calories! </h1>
<h2> You are <%= @profile.age %> and ready to go!</h2>
</div>




<br />
<div class="row">
<div class='booyah-box col-3 offset-1'>

<!-- I added the below IF statement because heroku could not handle the nil value in the avatar field and it broke the profile page -->

<% if @profile.avatar.present? %>
    <%= image_tag @profile.avatar.url, class: 'img-fluid', size: '300x180'%>
<% end %>


  <h4>Upload a Photo</h4> 
  <%= simple_form_for @profile, url: user_profile_path(@profile) do |f| %>
    <%= f.file_field :avatar %>
    
    <br />
    <br />
    <%= f.submit "Upload", class: 'btn btn-primary' %>
    <br />
  <% end %>
  <br />
</div> 

<div class='comments booyah-box col-3 offset-1'>
<h1>Create your profile</h1>
  <%= simple_form_for @profile, url: user_profiles_path(@profile) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :nickname %>
    <%= f.input :age %>
    <h6>Sex</h6>
    <%= f.select :sex, options_for_select([["Select One", ""], "Male", "Female", "Prefer not to Specify"]), :class => 'genForm_dropBox' %>
    <br />
    <br />
    <%= f.submit "Create", class: 'btn btn-primary' %>
    <br />
  <% end %>
</div>

</div>


<div class='row'>
<div id='gif' class='booyah-box col-3 offset-1'>
<h3>Get motivated!!!</h3>
<div id='gifs'>

<!-- api.giphy.com -->

<script async defer>

var xhr = $.get("https://api.giphy.com/v1/gifs/random?&api_key=<%=ENV['GIPHY_KEY']%>&tag=workout&limit=1");
xhr.done(function(data) { console.log("success got data", data); 
url = data.data.images.downsized.url; 
console.log(url);
document.getElementById('gifs').innerHTML = "<img class='giphy' src=" + url + ">";});




</script>
</div>
</div>

</div>

    

