<%= javascript_include_tag "https://api.giphy.com/v1/gifs/random?&api_key=#{ENV['GIPHY_KEY']}" %>
<div class='booyah-box col-10 offset-1'>
<h1>Hello <%= @profile.first_name %>, It's a beautiful day to burn some calories! </h1>
<h2> You are <%= @profile.age %> and ready to go!</h2>
</div>




<br />
<div class="row">
<div class='booyah-box col-3 offset-1'>

<!-- I added the below IF statement because heroku could not handle the nil value in the avatar field and it broke the profile page -->

<% if @profile.avatar.present? %>
    <%= image_tag @profile.avatar.url, class: 'img-fluid', size: '300x180'%>
<% end %>


  <h4>Upload a Photo</h4> 
  <%= simple_form_for @profile, url: user_profile_path(@profile) do |f| %>
    <%= f.file_field :avatar %>
    
    <br />
    <br />
    <%= f.submit "Upload", class: 'btn btn-primary' %>
    <br />
  <% end %>
  <br />
</div> 

<div class='comments booyah-box col-3 offset-1'>
<h1>Write a Post</h1>
  <%= simple_form_for @comment, url: user_profile_comments_path(@profile) do |f| %>
    <%= f.input :comment %>
    <%= f.submit "Post It!", class: 'btn btn-primary' %>
    <br />
  <% end %>
<br />
  <% @profile.comments.each do |comment| %>
  <div>
    <blockquote>
        <%= comment.comment %>
      <small> - <%= comment.user.profile.first_name%> <%= comment.user.profile.last_name%>, <%= comment.created_at%></small>
    </blockquote>
  </div>
<% end %>
</div>

</div>


<div class='row'>
<div id='gif' class='booyah-box col-3 offset-1'>
<h3>Get motivated!!!</h3>
<div id='gifs'>

<!-- api.giphy.com -->

<script async defer>

var xhr = $.get("https://api.giphy.com/v1/gifs/random?&api_key=<%=ENV['GIPHY_KEY']%>&tag=workout&limit=1");
xhr.done(function(data) { console.log("success got data", data); 
url = data.data.images.downsized.url; 
console.log(url);
document.getElementById('gifs').innerHTML = "<img class='giphy' src=" + url + ">";});




</script>
</div>
</div>

</div>

    

